.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mobileView{
  width: min(100%,350px);
  height: 90vh;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: -3px -3px 5px 0px rgba(128, 128, 128, 0.3), 3px 3px 5px 0px rgba(128, 128, 128, 0.3);
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 5px 15px;
}
.headerContainers{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 5px 15px;
  margin-top: 20px;
}

.ratingContainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 5px 15px;
}

.timeStyle{
  font-weight: bold;
}

.headerIcons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.networkIcon{
  padding: 0 3px;
}

.titleStyle{
  font-weight: bold;
  font-size: 30px;
}

.textStyle{
  font-weight: bold;
  font-size: 20px;
}

.reviewText{
  opacity: .7;
  font-size: 12px;
  text-align: left;
  width: 100%;
  padding: 5px 15px;
}
.likeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.likes{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media only screen and (max-width:667px) {
  .mobileView{
    width: 100%;
    border-radius: 0%;
    height: 100vh;
  }
}
@media only screen and (min-width:667px) and (max-width:992px)  {
  .mobileView{
    width: 60%;
    height: 100vh;
  }
}
@media only screen and (min-width:992px) and (max-width:1199px)  {
  .mobileView{
    width: 60%;
    height: 100vh !important;
  }
  .titleStyle{
    font-size: 20px;
  }
  
  .textStyle{
    font-size: 12px;
  }
}